body {
  /* this has no effect */
  /* --keyboard-background: rgb(23, 23, 200); */
}

.ML__keyboard--plate {
  --keyboard-background: rgb(23, 23, 23);
  --keyboard-text: rgb(230, 230, 230);
  --keycap-background: rgb(40, 40, 40);
  --keycap-text: rgb(230, 230, 230);
  --keycap-background-border: rgb(20,20,20)
  --keycap-background-active: rgb(30,30,30)
}

.action {
  --keycap-modifier-background: rgb(100,100,100)
}

.keycap {
  --keycap-text-active: rgb(23, 230, 23);
  --keycap-background-active: rgb(100,100,100)
}
